<!DOCTYPE HTML>
<html lang="en-US">
<head>
<meta charset="UTF-8">
<title>Web Scraping Demo w/ Nokogiri</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<style>
.navbar-form {
  float: right;
}
.input-group {
  min-width: 360px;
}
.navbar-default, .navbar {
  background-color: #235789;
  border: 0 none !important;
  border-radius: 0;
}
.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover {
  color: #fff;
}
.clipboard_copy {
  -webkit-animation: fadeOut 2s forwards;
  animation: fadeOut 2s forwards;
  -webkit-animation-delay: 500ms;
  animation-delay: 500ms;
  padding: 10px;
  position: fixed;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 10%;
  background-color: #222;
  height: 50px;
  width: 300px;
  color: #ffffff;
  text-align: center;
  opacity: .8;
}
@-webkit-keyframes fadeOut {
 from {
opacity: .8;
}
 to {
opacity: 0;
}
}
 @keyframes fadeOut {
 from {
opacity: .8;
}
 to {
opacity: 0;
}
}
body {
  background: #f1f1f1;
}
.jumbotron {
  text-align: center;
  margin: 0 auto;
  background: #f1f1f1;
}
.container {
  margin-top: 10%;
}
.tags {
  list-style: none;
  margin: 0 auto;
  overflow: hidden;
  padding: 0;
}
.tags li {
  display: inline-block;
}
.tag {
  background: #fff;
  border-radius: 3px 0 0 3px;
  color: #999;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}
.tag::before {
  background: #f1f1f1;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}
.tag::after {
  background: #f1f1f1;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #f1f1f1;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}
.tag:hover {
  background-color: #235789;
  color: white;
}
</style>
</head>
<body>
<nav class="navbar navbar-default" role="navigation"> 
 <div class="navbar-header"> <a class="navbar-brand" href="/">Web Scraping Demo</a> </div>
 <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <div>
   <form class="navbar-form" role="search">
    <div class="input-group">
     <input type="text" class="form-control" placeholder="Search" name="q">
     <div class="input-group-btn">
      <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
     </div>
    </div>
   </form>
  </div>
 </div>
 <!-- /.navbar-collapse --> 
</nav>
<div>
 <% if request.fullpath.include?("?") %>
 <% if @searched_articles != "Empty" %>
 <table width="100%">
  <% @searched_articles.each do | article | %>
  <table cellspacing="0" cellpadding="0" border="0" width="100%">
    <tr>
   <td align="center" style="padding-top: 20px;">
   <table cellspacing="0" cellpadding="0" border="0" width="100%" style="max-width: 750px; background: #fff">
    <tr>
     <td align="left" width="50%"><a href="<%= article.cta%>" target="_blank"><img src="<%= article.image %>" alt="" width="100%" height="auto" /></a></td>
     <td align="right" width="50%"><table cellspacing="0" cellpadding="0" border="0" width="100%">
       <tr>
        <td align="left" valign="middle" style="font-family: Arial, Helvetica, sans-serif; font-size: 26px; color: #000000;padding-left:20px;"><a href="<%= article.cta %>" target="_blank" style="color: #000000; text-decoration: none;"><%= article.title %></a></td>
       </tr>
       <tr>
        <td align="left"><a href="<%= article.cta%>" target="_blank"><img src="http://image.s4.exct.net/lib/fe9415737d650d7d70/m/1/scraping_cta.png" width="75%" border="0" alt="LEARN MORE" style="display: block;" /></a></td>
       </tr>
      </table></td>
    </tr>
   </table>
   <table cellspacing="0" cellpadding="0" border="0" width="100%" style="max-width: 750px;">
    <tr>
     <td align="center" style="padding-bottom: 20px; padding-top: 20px; background: #e3e3e3;"><button class="btn btn-primary" type="button" style="background-color:#505A81; font-size: 1.7rem;" data-clipboard-text="<table cellspacing='0' cellpadding='0' border='0' width='100%' style='max-width: 750px;'>
   <tr>
      <td align='left' width='50%'><a href='<%= article.cta%>' target='_blank'><img src='<%= article.image %>' alt='' width='100%' height='auto' /></a></td>
      <td align='right' width='50%'>
         <table cellspacing='0' cellpadding='0' border='0' width='100%'>
            <tr>
               <td align='left' valign='middle' style='font-family: Arial, Helvetica, sans-serif; font-size: 26px; color: #000000;padding-left:20px;'><a href='<%= article.cta %>' target='_blank' style='color: #000000; text-decoration: none;''><%= article.title %></a></td>
            </tr>
            <tr>
               <td align='left'><a href='<%= article.cta%>' target='_blank'><img src='http://image.s4.exct.net/lib/fe9415737d650d7d70/m/1/scraping_cta.png' width='75%' border='0' alt='LEARN MORE' style='display: block;' /></a></td>
            </tr>
         </table>
      </td>
   </tr>
</table>">Copy to Clipboard</button></td>
    </tr>
     </td>
     </tr>  
   </table>
    </td>    
  </tr>
  </table>
 <% end %>
 </table>
  <% end %>
  <% if @searched_articles == "Empty" %>
   <div class="container">
  <div class="jumbotron">
   <p class="lead">Looks like your search term has returned 0 results. Try another term</p>
   <p>or select one of these common search terms</p>
   <p class="lead" style="padding-top: 30px;">
   <ul class="tags">
    <li><a href="?=Hair" class="tag">Hair</a></li>
    <li><a href="?=Makeup" class="tag">Makeup</a></li>
    <li><a href="?=Trends" class="tag">Trends</a></li>
    <li><a href="?=Eyes" class="tag">Eyes</a></li>
    <li><a href="?=Skin+Care" class="tag">Skin Care</a></li>
    <li><a href="?=Styles" class="tag">Styles</a></li>
   </ul>
   </p>
  </div>
 </div>
 <% end %>
 <% else %>
 <div class="container">
  <div class="jumbotron">
   <p class="lead">Generate email-ready articles using the search function in the navigation bar</p>
   <p>or select one of these common search terms</p>
   <p class="lead" style="padding-top: 30px;">
   <ul class="tags">
    <li><a href="?=Hair" class="tag">Hair</a></li>
    <li><a href="?=Makeup" class="tag">Makeup</a></li>
    <li><a href="?=Trends" class="tag">Trends</a></li>
    <li><a href="?=Eyes" class="tag">Eyes</a></li>
    <li><a href="?=Skin+Care" class="tag">Skin Care</a></li>
    <li><a href="?=Styles" class="tag">Styles</a></li>
   </ul>
   </p>
  </div>
 </div>
 <% end %>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/core.js"</script> 
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.12/clipboard.min.js"></script> 
<script>var clip = new Clipboard('.btn');

clip.on("success", function() {
  document.body.insertAdjacentHTML('beforeend', '<div class="clipboard_copy">HTML copied to clipboard.</div>');
});
clip.on("error", function() {
  document.body.insertAdjacentHTML('beforeend', '<div class="clipboard_copy">Copy failed.</div>');
});</script>
</body>
</html>